<!DOCTYPE html>
<html lang="en" class="overflow-y-auto [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="theme-color" content="#75c8e2">

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css?{{ site.time | date: '%s' }}">
    {% seo %}
  </head>
  <body class="bg-neutral-100 font-sans flex flex-col min-h-screen">
    {% include header.html %}
    <main class="container mx-auto p-4 sm:p-6 flex-grow">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
