<!DOCTYPE html>
<html lang="en" class="overflow-y-auto [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQC39R7485"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KQC39R7485');
    </script>

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css?{{ site.time | date: '%s' }}">
    {% seo %}
  </head>
  <body class="bg-gray-50 font-sans flex flex-col min-h-screen">
    {% include header.html %}
    <main class="container mx-auto p-4 sm:p-6 flex-grow">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
