x-app: &x-app
  build:
    context: .
    target: dev
  tty: true
  volumes:
    - .:/app:cached
    - bundler:/bundle
    - vscode:/home/app/.vscode-server

services:
  app:
    <<: *x-app
    env_file:
      - .env
    entrypoint:
    command:
      - sh
      - -c
      - sleep infinity
  jekyll:
    <<: *x-app
    ports:
      - "127.0.0.1:4001:4000"
      - "127.0.0.1:35729:35729"
    environment:
      BACKEND_HOST: "http://localhost:4001"
      JEKYLL_ENV: development
    command:
      - rerun
      - --pattern
      - '{events_listing/_plugins/**/*.rb,events.csv,Gemfile.lock,events_listing/_config.yml}'
      - --
      - jekyll
      - server
      - --force_polling
      - -l
      - -H
      - 0.0.0.0
      - -s
      - events_listing
  sinatra:
    <<: *x-app
    ports:
      - "127.0.0.1:4002:4567"
    env_file:
      - .env
    environment:
      ALLOWED_ORIGIN: "http://localhost:4001"
    command:
      - rerun
      - --pattern
      - '{bin/server.rb,lib/server/**/*.rb,lib/event_schema.json}'
      - --
      - ruby
      - bin/server.rb


volumes:
  vscode:
  bundler:
