x-app: &x-app
  build:
    context: .
    target: dev
  tty: true
  volumes:
    - .:/app:cached
    - bundler:/bundle
    - vscode:/home/app/.vscode-server

services:
  app:
    <<: *x-app
    env_file:
      - .env
    entrypoint:
    command:
      - sh
      - -c
      - sleep infinity
  jekyll:
    <<: *x-app
    ports:
      - "127.0.0.1:4001:4000"
      - "127.0.0.1:35729:35729"
    environment:
      BACKEND_HOST: "http://localhost:4001"
      JEKYLL_ENV: development
    command:
      - watchexec
      - --restart
      - --watch
      - .
      - -f
      - events_listing/_plugins/**/*.rb
      - -f
      - events.csv
      - -f
      - Gemfile.lock
      - -f
      - events_listing/_config.yml
      - --
      - bundle
      - exec
      - jekyll
      - server
      - --force_polling
      - -l
      - -H
      - 0.0.0.0
      - -s
      - events_listing
  sinatra:
    <<: *x-app
    ports:
      - "127.0.0.1:4002:4567"
    env_file:
      - .env
    environment:
      ALLOWED_ORIGIN: "http://localhost:4001"
    command:
      - watchexec
      - --restart
      - --watch
      - .
      - -f
      - bin/server.rb
      - -f
      - lib/server/**/*.rb
      - -f
      - lib/event_schema.json
      - --
      - ruby
      - bin/server.rb


volumes:
  vscode:
  bundler:
