---
layout: default
title: Events Listing
---

<h1 class="text-2xl md:text-3xl font-semibold mb-6">Upcoming Events in Porto Santo</h1>
<section id="event-list" class="mb-8">
  {% assign current_utc_timestamp = site.time | date: '%s' | plus: 0 %}

  {% comment %} group and sort categories before looping {% endcomment %}
  {% assign grouped = site.data.events | group_by: "Category" %}
  {% assign sorted_groups = grouped | sort: "name" %}

  <div id="event-filter-controls" class="mb-4 flex flex-wrap items-center space-x-2">
    <button data-filter-category="all" class="filter-btn filter-btn--active">
      All Categories ({{ upcoming_events | size }})
    </button>
    {% for group in sorted_groups %}
      <button data-filter-category="{{ group.name | default: 'Event' }}" class="filter-btn filter-btn--inactive">
        {{ group.name | default: 'Event' }} ({{ group.items | size }})
      </button>
    {% endfor %}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 auto-rows-fr gap-6">
    {% assign sorted_events = site.data.events %}
    {% for event in sorted_events %}
      {% assign event_start_time_string = event['Start time'] %}
      {% comment %} Assuming event times are in Lisbon time (UTC+1 during summer like May) {% endcomment %}
      {% assign event_time_with_offset = event_start_time_string | append: ' +01:00' %}
      {% assign event_timestamp_utc = event_time_with_offset | date: '%s' | plus: 0 %}

      {% if event_timestamp_utc > current_utc_timestamp %}
    <div class="event-card" data-date="{{ event['Start time'] }}" data-category="{{ event.Category | default: 'Event' }}">
      <div class="p-6 flex flex-col flex-grow">
        <div> <!-- Content wrapper -->
          <h2 class="text-xl font-semibold text-gray-800 mb-2 h-14" title="{{ event['Name'] | escape_once }}">
            <a href="{{ event['Name'] | datapage_url: 'events' }}" class="hover:text-gray-600 line-clamp-2">
              {{ event["Name"] }}
            </a>
          </h2>
          <div class="flex items-center text-sm text-gray-500 mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="mr-2 h-4 w-4 flex-shrink-0"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
            <span>{{ event["Start time"] }} - {{ event["End time"] }}</span>
          </div>
          <div class="flex items-center text-sm text-gray-500 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="mr-2 h-4 w-4 flex-shrink-0"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>
            <span>{{ event["Location"] }}</span>
          </div>
        </div>
        <a href="{{ event['Name'] | datapage_url: 'events' }}" class="navigation-button">Find out more</a>
      </div>
      {% assign meta = event.Category | category_metadata %}
      <div style="background-color: {{ meta.color }};" class="h-2"></div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<script src="{{ '/assets/js/event-filter.js' | relative_url }}" defer></script>
