<header class="relative mb-4">
  <div class="relative z-10 container mx-auto pt-12 flex items-center justify-center">
    <a id="logo-link" href="/" title="{{ site.title }} - Home" aria-label="{{ site.title }}">
      <img src="/assets/logo180.webp"
           srcset="/assets/logo120.webp 120w, /assets/logo180.webp 180w"
           sizes="(max-width: 767px) 120px, 180px"
           alt="{{ site.title }} logo"
           class="relative w-[120px] h-[92px] md:w-[180px] md:h-[138px]">
    </a>
  </div>
  <svg class="absolute top-0 left-0 w-full h-full" preserveAspectRatio="none" viewBox="0 0 900 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-label="decorative" focusable="false">
    <defs>
      <linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:#75c8e2;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#d0a670;stop-opacity:1" />
      </linearGradient>
    </defs>
    <path
      d="M0 140L25 135C50 130 100 120 150 125C200 130 250 150 300 155C350 160 400 150 450 140C500 130 550 120 600 125C650 130 700 150 750 155C800 160 850 150 875 145L900 140L900 0L875 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z"
      fill="url(#waveGradient)">
    </path>
  </svg>
</header>
